<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>oishi | Speaker Diarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dropzone.js')}}"></script>
    <script src="{{ url_for('static', filename='d3.js') }}"></script>
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/objects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
</head>
<body>
{% raw %}
<div id="app" class="container-fluid">
    <div class="row gradient-blue white header">

        <div class="col-md-7 text-center">
            <br/><br/><br/>
            <h1>oishi.</h1>
            <h6>Speaker Diarization System</h6>
        </div>
        <div class="col-md-4">
            <br/><br/><br/>
            <h2>What is Speaker Diarization?</h2>
            <h6>
                Speaker Diarization is used to answer the question "who spoke when?". Speaker diarisation is a
                combination of speaker segmentation and speaker clustering. The first aims at finding speaker change
                points in an audio stream. The second aims at grouping together speech segments on the basis of speaker
                characteristics.
            </h6>
            <br/>
            <button href="/about.html" class="btn" onClick="window.location = 'about'">About this Project</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            <form id="file-form" action="diarize" method="POST">
                <h3>Upload .wav file</h3>
                <h6 class="gray">Note: The quality of the audio file such as noise,
                    <br/>number of speakers etc. affects the diarization process.
                    <br/><br/></h6>
                    <input type="file" id="file-select" name="audio" class="btn btn-primary"/>
                    <button type="submit" id="upload-button" class="btn btn-primary">
                        Diarize
                    </button>
                    <br/><br/>
                    <button v-show="!setNoOfSpeakers" v-on:click="setNoOfSpeakers = true" class="btn btn-sm"  type="button">Set number of Speakers.
                    </button>
                    <div v-show="setNoOfSpeakers">
                        <h6>No. of Speakers</h6>
                        <input type="number" min="1" value="1" class="text-center">
                        <br/><br/>
                        <button class="btn btn-sm" v-on:click="setNoOfSpeakers = false">Cancel</button>
                    </div>
            </form>
        </div>
    </div>

    <hr/>

    <div class="row" v-show="hasResults">
        <div class="col-12 text-center">
            <button class="btn btn-default" v-on:click="display = 'SUMMARY'">Summary</button>
            <button class="btn btn-default" v-on:click="display = 'EVALUATION'; app.setColors();">Evaluation</button>
            <button class="btn btn-default" v-on:click="display = 'RESULTS';">Results</button>
            <br/><br/><br/>
        </div>

        <div class="col-6 offset-3" v-if="display == 'SUMMARY'">
            <h3>Summary of Conversation</h3>
            <template v-for="item in aggregated_transcript">
                <h6>Speaker {{ item.speaker_id}}: {{ item.sentence }}</h6>
            </template>
        </div>

        <div class="col-8 offset-2" v-if="display == 'EVALUATION'">
            <h3>Diarization Result Table</h3>
            <table id="results-table" cellpadding="5">
                <tr>
                    <th class="text-center">Speaker ID</th>
                    <th class="text-center">Phrase Said</th>
                    <th class="text-center">Start Time</th>
                    <th class="text-center">End Time</th>
                    <th class="text-center" colspan="2">Identified speaker/s</th>
                    <th class="text-center">Is Speaker Error?</th>
                    <th class="text-center">Is Missed Speech?</th>
                    <th class="text-center">Is False Alarm?</th>
                    <th class="text-center">Is Valid Overlap?</th>
                </tr>
                <template v-for="item in aggregated_transcript">
                    <tr class="speaker-item margin-5">
                        <td>
                            <button :class="'btn speaker-color-' + item.speaker_id">Speaker {{ item.speaker_id }}
                            </button>
                        </td>
                        <td class="text-center">{{ item.sentence }}</td>
                        <td class="text-center">{{ item.start_time | twoDecimalPlaces }}</td>
                        <td class="text-center">{{ item.end_time }}</td>
                        <td v-if="item.isOverlapping" class="text-center">
                            {{ item.speaker_ids[0] }}
                        </td>
                        <td v-if="item.isOverlapping" class="text-center">
                            {{ item.speaker_ids[1] }}
                        </td>
                        <td v-else colspan="2" class="text-center">
                            {{ item.speaker_id }}
                        </td>
                        <td class="text-center">
                            <input type="checkbox" v-model="item.isSE"/>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" v-model="item.isMS"/>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" v-model="item.isFA"/>
                        </td>
                        <td v-if="item.isOverlapping" class="text-center">
                            <input type="checkbox" v-model="item.isValidOverlap"/>
                        </td>
                    </tr>
                </template>
            </table>
        </div>

        <div class="col-6 offset-3" v-if="display == 'RESULTS'">
            <br/>
            <h2>Result</h2>
            <h1>{{ corrects }} / {{ aggregated_transcript.length }}</h1>
        </div>
    </div>

    <!-- <div class="col-md-5 text-center">
        <h4>Conversation</h4>
        <ul id="transcript-list">
          <li class="convo-item" v-for="convo in aggregated_transcript">
            <h6>Speaker {{ convo.speaker_id}}</h6>
            <div :class="'convo' + convo.speaker_id">
                {{ convo.sentence }}
            </div>
          </li>
        </ul>
    </div> -->
</div>

<div class="text-center">
    <br/>
    <hr/>
    <h6>A Project by Ariel Conde and John Daryll Moya (2018)</h6>
    <br/>
</div>
</div>
{% endraw %}
<script>

        // Declare Vue app
        var app = new Vue({
            el: '#app',
            data: {
                diarized_info: null,
                transcript: [],
                hasResults: false,
                setNoOfSpeakers: false,
                temp: null,
                aggregated_transcript: [],
                display: 'SUMMARY'
            },
            methods: {
                init: function() {
                    $.ajax({
                        url: "./stubapi"
                    }).done((data) => {
                        this.diarized_info = data.result;
                        this.transcript = data.result.transcript;
                        this.hasResults = true;
                        this.aggregated_transcript = this.aggregate_transcript();
                        setTimeout(() => {
                            this.setColors();
                        }, 1000);
                    });
                },
                aggregate_transcript: function() {
                    aggregated = [];
                    sentence = "";
                    if (this.transcript.length > 0) {
                        cur_speaker = this.transcript[0].speaker_id;
                        start_time = this.transcript[0].start_time;
                        end_time = this.transcript[0].end_time;
                        this.transcript.forEach((convo) => {

                            if (convo.is_overlapping) {
                                // Push whatever is in the current
                                aggregated.push({ sentence: sentence, speaker_id: cur_speaker,
                                    start_time: start_time, end_time: end_time, isCorrect: false});

                                // Then push the overlapping
                                aggregated.push({
                                    sentence: convo.word,
                                    isOverlapping: true,
                                    speaker_ids: convo.speaker_ids,
                                    hasWord: convo.has_word,
                                    word: convo.word,
                                    start_time: convo.start_time,
                                    end_time: convo.end_time,
                                    isCorrect: false
                                });
                            }

                            if (cur_speaker == convo.speaker_id) {
                                sentence += " " + convo.word;
                                end_time = convo.end_time;
                            } else {
                                aggregated.push({ sentence: sentence, speaker_id: cur_speaker,
                                    start_time: start_time, end_time: end_time, isCorrect: false});
                                sentence = convo.word;
                                start_time = convo.start_time;
                                cur_speaker = convo.speaker_id;
                            }
                        });
                    }
                    return aggregated;
                },
                setColors: function() {
                    let colors = ['#5aa4ff', '#0024ad'];
                    colors.forEach((color, i) => {
                        d3.selectAll(".speaker-color-" + i).style("background-color", colors[i]);
                    });
                }
            },
            filters: {
                twoDecimalPlaces: function(value) {
                    return parseFloat(value).toFixed(2);
                }
            },
            computed: {
                corrects: function() {
                    return this.aggregated_transcript.filter(item => item.isFA).length;
                }
            },

        });

        var form = document.getElementById('file-form');
        var fileSelect = document.getElementById('file-select');
        var uploadButton = document.getElementById('upload-button');

        form.onsubmit = function(event) {
            event.preventDefault();

            // Update button text
            uploadButton.innerHTML = 'Processing...';

            //
            handleSubmit();
        }

        function handleSubmit() {
            // Retrieve the files in form
            var files = fileSelect.files;

            // Create FormData object
            // This is used to construct key/value pairs
            // which form the data payload for the AJAX request
            var formData = new FormData();
        
            file = files[0]; // There can be multiple files in the form

            // Can perform file checking here
            //

            // Add the file to the payload object
            formData.append('audio', file, file.name);

            // Set up the request
            var xhr = new XMLHttpRequest();

            // Open the connection
            // method, url, isAsynchronous
            xhr.open('POST', 'diarize', true);
            xhr.responseType = 'json';
            xhr.onload = function() {
                if (xhr.status === 200) {
                    app.transcript = xhr.response.result; // Response carries the array of converstation
                    app.hasResults = true;
                    uploadButton.innerHTML = 'Upload';
                    console.log(xhr.response.result);
                } else {
                    alert("An error occured.");
                }
            };

            xhr.send(formData);
        }

        function design() {
            d3.selectAll(".convo-1").style("color", "white");
        }

        $(document).ready(function() {
            app.init();
        });

</script>
</body>
</html>