<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ML project | Speaker Diarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.js') }}"></script>
    <script src="{{ url_for('static', filename='tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dropzone.js')}}"></script>
    <script src="{{ url_for('static', filename='d3.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/objects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utilities.css') }}">
</head>
<body>
{% raw %}

<div id="app" class="container-fluid">
    <div class="row gradient-blue white header">

        <div class="col-md-7 text-center">
            <br/><br/><br/>
            <h1>ML Project</h1>
            <h6>Speaker Diarization System</h6>
        </div>
        <div class="col-md-4">
            <br/><br/><br/>
            <h2>What is Speaker Diarization?</h2>
            <h6>
                Speaker Diarization is used to answer the question "who spoke when?". Speaker diarisation is a
                combination of speaker segmentation and speaker clustering. The first aims at finding speaker change
                points in an audio stream. The second aims at grouping together speech segments on the basis of speaker
                characteristics.
            </h6>
            <br/>
            <button href="/about.html" class="btn" onClick="window.location = 'about'">About this Project</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <form id="file-form" action="diarize" method="POST" enctype="multipart/form-data">
                <h3>Upload .wav file</h3>
                <input type="file" id="file-select" name="audio" class="btn btn-primary"/>
                <button type="button" @click="submitForm()" id="upload-button" class="btn btn-primary">
                    Diarize
                </button>
                <br/><br/>


            </form>
        </div>
    </div>


    <div class="center row" v-show="hasResults">
<div class="col-8 offset-2" >
    <table id="results-table" cellpadding="5" class="table table-bordered table-striped text-center">
        <tr>
                <th class="text-center">Number of Speaker</th>
            <th class="text-center">Download files</th>
            
        </tr>
            <tr class="speaker-item margin-5">
                    <td class="text-center">{{result.nspeaker}}</td>
                <td class="text-center"><a v-bind:href="result.filename">Click here</a></td>
           
               
            </tr>
        
    </table>
</div>

<div class="col-8 offset-2" >
    <h3>Diarization Result Table</h3>
    <table id="results-table" cellpadding="5" class="table table-bordered table-striped text-center">
        <tr>
            <th class="text-center">Speaker ID</th>
            <th class="text-center">Start Time</th>
            <th class="text-center">End Time</th>
        </tr>
        <template v-for="item in result.sp">
            <tr class="speaker-item margin-5">
               
                <td class="text-center">{{ item.speaker_id  | decimalToInt }}</td>
                <td class="text-center">{{ item.start_time | twoDecimalPlaces}}</td>
                <td class="text-center">{{ item.end_time | twoDecimalPlaces}}</td>
               
            </tr>
        </template>
    </table>
</div>
</div>

<div class="text-center">
    <br/>
    <hr/>
    <h6>Machine Learning Project by EL-HAFED Naima & OUKAJA Youssef Mehdi (2018)</h6>
    <br/>
</div>
</div>
{% endraw %}
<script>
       var app = new Vue({
            el: '#app',
            data: {
                result:
                {
                    sp:[],
                    filename:"",
                    nspeaker:""
                },
                diarized_info: null,
                
                hasResults: false,
                temp: null,
                display: 'SUMMARY'
            },
            methods: {
                submitForm: function(){
                console.log($('#file-form'))

                var formData = new FormData($('#file-form')[0]);
                $.ajax({
       url: './diarize',
       type: 'POST',
       data: formData,
       async: false,
       cache: false,
       contentType: false,
      // enctype: 'multipart/form-data',
       processData: false
   }).done(function(data) {
    console.log(data);
    this.hasResults=true;
    this.result=data.result;
}.bind(this))
                } 
                // init: function() {
                //     $.ajax({
                //         url: "./diarize"
                //     }).done((data) => {
                //         this.diarized_info = data.result;
                //         this.sp = data.result.sp;
                //         this.hasResults = true;
                //         this.NoOfSpeakers= data.result.nspeaker;
                //         this.filename = data.result.filename;
                //         setTimeout(() => {
                //             this.setColors();
                //         }, 1000);
                //     });
                // },
                // aggregate: function() {
                //     aggregated = [];
                //     if (this.sp.length > 0) {
                //         this.sp.forEach((convo) => {

                //                 aggregated.push({
                //                     speaker_id: convo.speaker_id,
                //                     start_time: convo.start_time,
                //                     end_time: convo.end_time,
                //                 });
                //             });
                //         }

                        
                   
                //     return aggregated;
                // },
                // setColors: function() {
                //     let colors = ['#5aa4ff', '#0024ad'];
                //     colors.forEach((color, i) => {
                //         d3.selectAll(".speaker-color-" + i).style("background-color", colors[i]);
                //     });
                // }
             },
            filters: {
                twoDecimalPlaces: function(value) {
                    return parseFloat(value).toFixed(2);
                },
                decimalToInt: function(value){
                    return parseInt(value);
                }
            },
            computed: {
/*                 corrects: function() {
                    return this.aggregated_transcript.filter(item => item.isFA).length;
                } */
            },

        });

        // var form = document.getElementById('file-form');
        // var fileSelect = document.getElementById('file-select');
        // var uploadButton = document.getElementById('upload-button');

        // form.onsubmit = function(event) {
        //     event.preventDefault();

        //     // Update button text
        //     uploadButton.innerHTML = 'Processing...';

        //     //
        //     handleSubmit();
        // }

        // function handleSubmit() {
        //     // Retrieve the files in form
        //     var files = fileSelect.files;

        //     // Create FormData object
        //     // This is used to construct key/value pairs
        //     // which form the data payload for the AJAX request
        //     var formData = new FormData();
        
        //     file = files[0]; // There can be multiple files in the form

        //     // Can perform file checking here
        //     //

        //     // Add the file to the payload object
        //     formData.append('audio', file, file.name);

        //     // Set up the request
        //     var xhr = new XMLHttpRequest();

        //     // Open the connection
        //     // method, url, isAsynchronous
        //     xhr.open('POST', 'diarize', true);
        //     xhr.responseType = 'json';
        //     xhr.onload = function() {
        //         if (xhr.status === 200) {
        //             app.transcript = xhr.response.result; // Response carries the array of converstation
        //             app.hasResults = true;
        //             uploadButton.innerHTML = 'Upload';
        //             console.log(xhr.response.result);
        //         } else {
        //             alert("An error occured.");
        //         }
        //     };

        //     xhr.send(formData);
        // }

        // function design() {
        //     d3.selectAll(".convo-1").style("color", "white");
        // }

        // $(document).ready(function() {
        //     app.init();
        // });
</script>
</body>
</html>